<h1>List of all directors</h1>

<hr>

<table border ="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th></th>
  </tr>

<%Director.all.each do |each_director|%>
  <tr>
    <td><%=each_director.id%></td>
    <td><img src = "<%=each_director.image%>" width 
    = "100"></td>
    <td><%=each_director.name%></td>
    <td><%=each_director.dob%></td>
    <td><a href = "/directors/<%=each_director.id%>">Show details</a></td>
  <tr>
<%end%>

</table>
