<h1>Actor #<%=@this_actor.id%> details</h1>

<a href = "/actors">Go back</a>

<hr>

<dl>
  <dt>Name</dt>
    <dd><%=@this_actor.name%></dd>
  <dt>Dob</dt>
     <dd><%=@this_actor.dob%></dd>
  <dt>Bio</dt>
    <dd><%=@this_actor.bio%></dd>
  <dt>Image</dt>
    <dd><img src = "<%=@this_actor.image%>" width = 250px></dd>
  <dt>Created at</dt>
    <dd><%=@this_actor.created_at%></dd>
  <dt>Updated at</dt>
    <dd><%=@this_actor.updated_at%></dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border = "1">
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th>Character name</th>
    <th></th>
  </tr>

  <%@all_characters.all.each do |each_character|%>
  <tr>
      <%@character_id = each_character.id%>
      <%@character_name = each_character.name%>
      <%@movie_id = each_character.movie_id%>
      <%@movie = Movie.where(:id => @movie_id).at(0)%>
      <%@director = Director.where(:id => @movie.director_id).at(0)%>
    <td><%=@movie.title%></td>
    <td><%=@movie.year%></td>
    <td><%=@director.name%></td>
    <td><%=@character_name%></td>
    <td><a href = "/movies/<%=@movie_id%>">Show details</a></td>
  </tr>
  <%end%>
</table>
